body {
    background-color: #1F2937;
    background-size: cover;
    background-position: center;
    padding-top: 65px;
    text-align: center;
}

.psw-heading {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#rnd-psw {
    color: #4ADF86;
}

.psw-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #D5D4D8;
}

#psw-button {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.generate-button {
    background: #10B981;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    width: 230px;
    height: 45px;
    cursor: pointer;
    margin-top: 20px;
}

.reset-button {
    background: #10B981;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    width: 230px;
    height: 45px;
    cursor: pointer;
    margin-top: 20px;
}

#psw-line {
    border: 1px solid #2F3E53;
    width: 470px;
    margin: 35px auto 0 auto;
}

#psw-input {
    display: flex;
    gap: 24px;
    justify-content: center;
}

#input-one {
    background: #273549;
    width: 235px;
    height: 42px;
    border: none;
    border-radius: 6px;
    margin-top: 40px;
    color: #55F991;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding: 10px 10px;
    text-align: center;
}

#input-two {
    background: #273549;
    width: 235px;
    height: 42px;
    border: none;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #55F991;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding: 10px 10px;
    text-align: center;
}

#copy-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.copy-button1 {
    background: #10B981;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    width: 190px;
    height: 37px;
    cursor: pointer;
}

.copy-button2 {
    background: #10B981;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    width: 190px;
    height: 37px;
    cursor: pointer;
}

fieldset {
    margin: 0 auto 110px auto; 
    width: 500px;
    height: 140px;
    border: 1px solid #2F3E53;
    border-radius: 6px;
    box-sizing: border-box;
}

legend {
    color: #4ADF86;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-right: auto;
}

.psw-length {
    display: flex;
    justify-content: left;
    color: #ffffff;
    font-size: 18px;
    gap: 10px;
    margin-bottom: 7px;
}

#password-lengths {
    width: 44px;
    height:30px;
    border-radius: 7px;
    padding-left: 5px;

}

label {
    margin-top: 5px;
}

.psw-numbers {
    display: flex;
    justify-content: left;
    color: #ffffff;
    font-size: 18px;
    gap: 20px;
    margin-bottom: 7px;
}

.psw-characters {
    display: flex;
    justify-content: left;
    color: #ffffff;
    font-size: 18px;
    gap: 20px;
}

@media screen and (max-width: 480px) {
    body {
        text-align: center;
        padding-top: 65px;
    }
    .psw-heading {
        font-size: 25px;
    }

    .psw-text {
        font-size: 18px;
        margin-top: 0;
    }

    #psw-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .generate-button {
        font-weight: 500;
        font-size: 16px;
        padding: 8px 15px 8px 15px;
        width: 210px;
        height: 41px;
        margin-top: 10px;
    }

    .reset-button {
        font-weight: 500;
        font-size: 16px;
        padding: 8px 15px 8px 15px;
        width: 210px;
        height: 41px;
        margin-top: 20px;
    }

    #psw-line {
        width: 290px;
        margin: 45px auto 0 auto;
    }

    #psw-input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input-one {
        width: 210px;
        height: 33px;
        margin-top: 25px;
        font-size: 15px;
    }

    #input-two {
        width: 210px;
        height: 33px;
        margin-top: 10px;
        font-size: 15px;
    }

    #copy-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .copy-button1 {
        font-size: 14px;
        width: 185px;
        height: 35px;
        margin-bottom: 10px
    }
    
    .copy-button2 {
        font-size: 14px;
        width: 185px;
        height: 35px;
        margin-top: 15px;
    }

    fieldset {
        width: 270px;
        height: 155px;
    }

    .psw-length {
        font-size: 19px;
    }

    .psw-numbers {
        font-size: 19px;
    }
    
    .psw-characters {
        font-size: 19px;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    body {
        text-align: center;
        padding-top: 70px;
    }
    .psw-heading {
        font-size: 27px;
    }

    .psw-text {
        font-size: 18px;
        margin-top: 0;
    }

    #psw-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .generate-button {
        font-weight: 500;
        font-size: 17px;
        padding: 8px 15px 8px 15px;
        width: 215px;
        height: 41px;
        margin-top: 11px;
    }

    .reset-button {
        font-weight: 500;
        font-size: 17px;
        padding: 8px 15px 8px 15px;
        width: 215px;
        height: 41px;
        margin-top: 20px;
    }

    #psw-line {
        width: 325px;
        margin: 45px auto 0 auto;
    }

    #psw-input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input-one {
        width: 210px;
        height: 32px;
        margin-top: 25px;
        font-size: 15px;
    }

    #input-two {
        width: 210px;
        height: 32px;
        margin-top: 4px;
        font-size: 15px;
    }

    #copy-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .copy-button1 {
        font-size: 14px;
        width: 186px;
        height: 36px;
        margin-bottom: 10px
    }
    
    .copy-button2 {
        font-size: 14px;
        width: 186px;
        height: 36px;
        margin-top: 15px;
    }

    fieldset {
        width: 280px;
        height: 160px;
    }

    .psw-length {
        font-size: 19px;
    }

    .psw-numbers {
        font-size: 19px;
    }
    
    .psw-characters {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    body {
        text-align: center;
        padding-top: 110px;
    }
    .psw-heading {
        font-size: 28px;
    }

    .psw-text {
        font-size: 19px;
        margin-top: 0;
    }

    #psw-button {
        display: flex;
        gap: 10px;
    }

    .generate-button {
        font-weight: 500;
        font-size: 17px;
        padding: 8px 15px 8px 15px;
        width: 215px;
        height: 42px;
        margin-top: 20px;
    }

    .reset-button {
        font-weight: 500;
        font-size: 17px;
        padding: 8px 15px 8px 15px;
        width: 215px;
        height: 42px;
        margin-top: 20px;
    }

    #psw-line {
        width: 350px;
        margin: 45px auto 0 auto;
    }

    #psw-input {
        display: flex;
    }

    #input-one {
        width: 210px;
        height: 35px;
        margin-top: 50px;
        font-size: 15px;
    }

    #input-two {
        width: 210px;
        height: 35px;
        margin-top: 50px;
        font-size: 15px;
    }

    #copy-button {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin: 10px 0px 20px 0px;
    }

    .copy-button1 {
        font-size: 14px;
        width: 186px;
        height: 36px;
    }
    
    .copy-button2 {
        font-size: 14px;
        width: 186px;
        height: 36px;
    }

    fieldset {
        width: 290px;
        height: 162px;
    }

    .psw-length {
        font-size: 19px;
    }

    .psw-numbers {
        font-size: 19px;
    }
    
    .psw-characters {
        font-size: 19px;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    body {
        text-align: center;
        padding-top: 120px;
    }
    .psw-heading {
        font-size: 31px;
    }

    .psw-text {
        font-size: 21px;
        margin-top: 0;
    }

    #psw-button {
        display: flex;
        gap: 10px;
    }

    .generate-button {
        font-weight: 500;
        font-size: 17px;
        padding: 8px 15px 8px 15px;
        width: 215px;
        height: 42px;
        margin-top: 20px;
    }

    .reset-button {
        font-weight: 500;
        font-size: 17px;
        padding: 8px 15px 8px 15px;
        width: 215px;
        height: 42px;
        margin-top: 20px;
    }

    #psw-line {
        width: 400px;
        margin: 45px auto 0 auto;
    }

    #psw-input {
        display: flex;
    }

    #input-one {
        width: 220px;
        height: 32px;
        margin-top: 50px;
        font-size: 15px;
    }

    #input-two {
        width: 220px;
        height: 32px;
        margin-top: 50px;
        font-size: 15px;
    }

    #copy-button {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin: 10px 0px 20px 0px;
    }

    .copy-button1 {
        font-size: 14px;
        width: 186px;
        height: 36px;
    }
    
    .copy-button2 {
        font-size: 14px;
        width: 186px;
        height: 36px;
    }

    fieldset {
        width: 310px;
        height: 162px;
    }

    .psw-length {
        font-size: 20px;
    }

    .psw-numbers {
        font-size: 20px;
    }
    
    .psw-characters {
        font-size: 20px;
    }
} 

















